body{
    background-image: url('../image/background2.jpg');
}
.card{
    margin: 3rem;
    max-width : 70%;
}
.card-header{
    background-color: #228B22;
}
.card-body{
    background-color: lavender;
}
.form-floating{
    margin: 1rem;
}
h1, h3{
    font-weight: 600;
}
header{
    background-color: #228B22;
}